---
interface Props {
  title: string;
  Content: any;
}

const { title, Content } = Astro.props;
---

<section id="about" class="py-20 px-4">
  <div class="max-w-5xl mx-auto">
    <div class="card bg-base-200 shadow-sm">
      <div class="card-body px-8 py-10">
        <h2 class="text-3xl font-bold mb-6 text-center">{title}</h2>
        <div class="prose prose-lg max-w-none text-base-content/90 leading-relaxed text-xl">
          <Content />
        </div>
      </div>
    </div>
  </div>
</section>
