---
import { Mail } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <Mail class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to get in touch? Feel free to reach out via email at <a
        href="mailto:xuhao.jiang@tum.de"
        class="link link-hover text-primary"
        >xuhao.jiang@tum.de</a
      > and I'll respond as soon as possible.
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - All rights reserved
    </p>
  </aside>
</footer>
